body {
    background-color: #f8f9fa;
    font-family: 'poppins', sans-serif;
}



.container-wrapper {
    display: flex;
    align-items: center;
    gap: 30px;
    height: 100vh;
}



/* PLATFORM CONTAİNER */
.platform-container {
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    border-radius: 8px;
    background-color: #ffffff;
    width: 500px;
    height: 500px;


}


/* FORMM*/
.platform-form {
    width: 320px;
    margin: auto;
}



/* LOGO */
.img-container {
    display: flex;
    justify-content: center;
    height: 140px;
    margin-top: 40px;
}

/*USERNAME*/
.usernamelabel {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}



/* INPUT*/
.form-control {
    position: relative;
    box-sizing: border-box;
    box-shadow: 0 0 5px rgba(0, 255, 234, 0.1);
    margin-bottom: 7px;
}



    .form-control:focus {
        border-color: #012453;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        outline: none;
    }

    .form-control::placeholder {
        color: #aaaa;
        opacity: 1;
        font-style: italic;
    }




/* BUTTON*/
.platformbtn-container {
    display: flex;
    justify-content: center;
}



.platform-button {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s;
    width: 300px;
    border-color: #0274f9;
    margin-left: 10px;
    margin-top: 20px;
}



    .platform-button:hover {
        background-color: #0274f9;
        border-color: #0274f9;
        transform: scale(1.05);
        color: #ffffff;
        font-weight: bold;
    }



    .platform-button:active {
        transform: translateY(2px);
    }






